<a href="https://colab.research.google.com/github/brian-ho/intro-to-urban-data/blob/main/Measure/M02_Basic_Python_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **02 Measure** Basic Python Data Structures

```
    Class       ARCH 6131 Urban Design Methods / Skills / Tools 1
                The Gensler Family AAP NYC Center
                Fall 2024
                Monday 3:30 PM to 6 PM

    Instructor  Brian Ho
                brian@brian-ho.io
```

This notebook illustrates some basic ways to work with data in Python using built-in types of data structures. By and large, these are the main Python programming concepts you will need this semester:

- Variables
- Operators
- Lists
- Dictionaries
- Loops
- Conditionals
- Functions

This is meant to demonstrate key principles. If you want more comprehensive details and instructions check out:
- the official [Python 3 tutorials](https://docs.python.org/3/tutorial/datastructures.html)
- [introduction from the Cornell Virtual Workshop](https://cvw.cac.cornell.edu/python-intro/objects-and-oop/introduction).

There's a challenge at the end to test your knowledge!

## Variables
Variables are names that reference objects and data. In Python, variables are _assigned_ a value — and can generally be reassigned to any new value. You can assign a value to Python using the `=` operator:

```
variable_name = <value_to_assign>
```

Here are a few examples of variables for numbers. These support the mathemtical operators you might expect: addition, subtraction, multiplication, division, etc ...

In [2]:
# A variable can be an integer and operations performed on integers
a = 0
b = 1
c = a + b
print(f"a = {a}")
print(f"b = {b}")
print(f"c = {c}")

# A variable can also be a float — a decimal value
d = 2.5
e = 1e2
f = d * e
print(f"d = {d}")
print(f"e = {e}")
print(f"f = {f}")

a = 0
b = 1
c = 1
d = 2.5
e = 100.0
f = 250.0

Variables can also be text, referred to as strings. Notice that strings can have operators — in this case, you can add two strings together.

In [3]:
# A variable can be a string: one or more characters
x = "Here's a string"
y = "!"
z = x + y
print(z)

Here's a string!

## Operators
You may have noticed that above we use operators to combine or otherwise work with variable. Generally, these do what we expect.

In [4]:
print(1 + 1)
print(200 / 10)

2
20.0

There are some operators that you may be less familiar with:

In [5]:
# The >, <, >=, <= check if values are smaller or larger.
# Try changing the operator or values and see what happens!
10 > 200

False

In [6]:
# The == checks if two values are the same
100 == 20 * 5

True

In [7]:
# The != checks if two values are not the same
# In this case
2 != 1 + 1

False

In [8]:
# The += and -= let you increment or decrement from a variable and re-assign
a = 100
# This is the same as doing
#    a = a + 10
a += 10
print(a)

# What do you think the value of b wlil be?
b = 100
b -= 100
print(b)

110
0

In [10]:
# The *= and /= operators do the same for multiplication and division
c = 1
c *= 4
print(c)

d = -2
d /= -2
print(d)

4
1.0

Try playing around with variables and operations in a cell!

## Lists
A list (or arrray) is a common data structure for multiple objects. You can distinguish a list when you see the square brackets `[]` with items separated by commas. You may also see lists created with the `list()` constructor.

Lists are ordered, and you can add, remove, and iterate with a list.

In [11]:
# A basic list of numbers
a_list = [1, 2, 3, 4, 5]
print(a_list)

[1, 2, 3, 4, 5]

You can access any of the items using its index (position in the list) and square bracket notation `[]`. A key concept to remember is that Python (and much of programming and computerr science) uses 0-index, so zero represents the first item.

In [33]:
# You can access specific items in a list using an index
# Python is 0-indexed, and zero is the first item
a_list[0]

1

In [34]:
# You can use a colon to get a range within a list
# This gets everything from index 3 (the fourth item) onwards:
a_list[3:]

[4, 5]

Lists are _mutable_ meaning they can be changed and edited. You can start with an empty  list and add to it using `append()`. This is a method on the list object: a function that belongs to it.

In [36]:
# You can have empty lists!
an_empty_list = []
# You can add an item to the end of list!
an_empty_list.append("a value")

In [37]:
# You can add lists together
a_longer_list = an_empty_list + a_list

In [38]:
# And you can reassign to a specific item in a list
a_list[0] = 10
a_list

[10, 2, 3, 4, 5]

## Dictionaries
Dictionaries are a set of key-value pairs, where each key uniquely identifies a value. You can recognize a dictionary when you see squiggly brackets `{}` and keys and values defined with a colon.

Dictionaries are useful when you need to organize data. Imagine you want to record data about a buliding's height, number of floors, and address!

In [29]:
# A simple dictionary that holds information about a dictionary
building = {"height": 100, "number_of_floors": 2, "address": "123 Main Street"}
print(f"Here's some data about a building: {building}")

Here's some data about a building: {'height': 100, 'number_of_floors': 2, 'address': '123 Main Street'}

You'll be able to access specific values in a dictionary using the cooresponding key, with square bracket notation `[]`.

In [49]:
# Get a value from a dictionary by its key
building["height"]

100

And, like with lists, you can start empty and add to them.

In [45]:
empty_dict = {}
print(f"Here's a sad empty dictionary: {empty_dict}")

empty_dict["a_value"] = 100
print(f"Now that's something: {empty_dict}")

Here's a sad empty dictionary: {}
Now that's something: {'a_value': 100}

In [48]:
# You can also combine dictionaries
new_dict = {"another_key": 20}
empty_dict.update(new_dict)
print(f"Now this is definitely not empty: {empty_dict}")

Now this is definitely not empty: {'a_value': 100, 'another_key': 20}

## Loops
A `for` loop is a way to iterate and repeat code. The `for` defines how many repetitions occur, and what values change for each loop.

In [51]:
# This loops over each number in the list
list_of_four = [1, 2, 3, 4]
for number in list_of_four:
    print(number)

1
2
3
4

Here are a few common patterns you will encounter with `for` loops:

In [57]:
# You can loop over a sequential list of integers using range()
# This counts up by 1, starting from 0 and ending before the proviided arguement
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [61]:
# This counts up from the first arguement and ending before the second arguement
for number in range(4, 8):
    print(number)

4
5
6
7

In [60]:
# You can loop over each key and value in a dictionary using .items()
some_dictionary = {"key_1": 1, "key_2": ["a", "b", "c"], "key_3": "more stuff"}

for key, value in some_dictionary.items():
    print(key, value)

key_1 1
key_2 ['a', 'b', 'c']
key_3 more stuff

In [55]:
# You can loop over just the keys
for key in some_dictionary.keys():
    print(key)

key_1
key_2
key_3

In [56]:
# You can loop over just the values
for key in some_dictionary.values():
    print(key)

1
['a', 'b', 'c']
more stuff

In [62]:
# You can loop over anything, and get a counter for the loop using enumerate()
some_list = ["foo", 0]

for i, item in enumerate(some_list):
    print(f"In the {i}-th loop, we get item: {item}")

In the 0-th loop, we get item: foo
In the 1-th loop, we get item: 0

## Conditionals
Conditionals are `if`, `elif`, and `else` statements. These provide basic logic control in code. A nice attribute of Python is that conditionals and other patterns are intentionally human readable — you can scan a conditional and generally get a feel for the behavior.

In [67]:
# Can you guess which print statement will occure before running the code?
some_value = 1000

if some_value > 1_000_000:
    print(f"This value {some_value} is larger than one million")
elif some_value < 0:
    print(f"This value {some_value} is negative")
else:
    print(f"Thiee value {some_value} is between zero and one million")

Thiee value 1000 is between zero and one million

Each `if` or `elif` statement contains a logic check that returns `True` or `False`. The code that runs based on that check being `True` must be indented.

You can check for multiple conditions by first using an `if` statment then `elif` (short for "else if") statements. An `else` block only runs if known of the above conditions are met. Think of this as the fallback; statements are evaluated from top to bottom, and the first one that returns `True` is evauated.

## Functions
Finally, functions are nice way to wrap up code for re-use. A function must first be defined with a `def` statement.

Functions run a block of code. They _may_ take in input (known as arguments) and/or return output(s). They may do neither — in which case they simply  run code.

In [69]:
# Here's a basic function that takes 2 input arguments
# And returns a single output
def a_function_that_adds(a, b):
    return a + b


# You can call a function like so
# Can you guess what the result should be?
a_function_that_adds(100, 200)

300

In [70]:
# And you can directly assign the output of a function to a variable
c = a_function_that_adds(a, b)
print(f"The value of c is: {c}")

The value of c is: 110

In [73]:
# Here's a function that neither take in any inputs or returns any  outputs
def a_function_that_just_runs():
    print("Just saying hi!")


a_function_that_just_runs()

Just saying hi!

# A puzzle
OK! Let's put all this knowledge to use.

Imagine you have collected data about four buildings. For each building, you have the number of floors, an address, and the average floor area of a single floor.

Something like this:

| address | number of floors | average floor area |
| ---- | ---- | ---- |
| 123 Main Street | 25 | 1000 |
| 26 Broadway | 18 | 2000 |
| 1 Electric Avenue | 15 | 770 |
| 9 Wall Street | 50 | 900 |

For your first challenge: can you calculate:
- the total floor area for each buildinig?
- the total floor area for all buildings?
- the average number of floors across all four buildings?
- the average floor area for a single floor across all buildings?

In [ ]:
# Try it out with code here!

Imagine you've got data about a new building! Can you re-calculate the above, adding in:

| address | number of floors | average floor area |
| ---- | ---- | ---- |
| 99 West Side Highway | 32 | 500 |

In [ ]:
# Try it out with code here!

Lastly, assume each floor on average is 12 feet high.

What is the address of each builiding that is more than 90 feet tall?

In [ ]:
# Try it out with code here!